#include "keymap_german.h"
#include "mod_morphs.dtsi"

#define _L_QWE 0
#define _L_COL 1

#define _L_NAV 2
#define _L_NUM 3
#define _L_SYM 4
#define _L_FUN 5
#define _L_SET 6

#define C_TAB LC(TAB)
#define CS_TAB LC(LS(TAB))
#define C_COPY LC(DE_C)
#define C_CUT LC(DE_X)
#define C_PASTE LC(DE_V)
#define C_UNDO LC(DE_Z)
#define C_REDO LC(DE_Y)

/*sticky keys = one shot mod*/
&sk {
    release-after-ms = <2000>;
    quick-release;
    /delete-property/ ignore-modifiers;
};

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
  };
};

/ {
keymap {
        compatible = "zmk,keymap";

qwerty_layer {
    label = "QWERTY";
// -----------------------------------------------------------------------------------------
// | ESC  |  Q  |  W  |  E  |  R  |  T  |      #  |  Y  |  U  |  I  |  O  |  P  | BKSP |
// | SHFT |  A  |  S  |  D  |  F  |  G  |      #  |  H  |  J  |  K  |  L  |  ;  |  '   |
// | TAB  |  Z  |  X  |  C  |  V  |  B  |      #  |  N  |  M  |  ,  |  .  |  /  | RET  |
//                    |     |     | nav_spc |  #  |     |     |     |
bindings = <
   &kp TAB        &kp DE_Q &kp DE_W &kp DE_E &kp DE_R &kp DE_T               &kp DE_Y &kp DE_U  &kp DE_I  &kp DE_O   &kp DE_P    &kp BSPC
   &lt _L_SYM ESC &kp DE_A &kp DE_S &kp DE_D &kp DE_F &kp DE_G               &kp DE_H &kp DE_J  &kp DE_K  &kp DE_L   &semicol    &quote
   &kp LSHFT      &kp DE_Z &kp DE_X &kp DE_C &kp DE_V &kp DE_B               &kp DE_N &kp DE_M  &clabk    &drabk     &sques      &kp ENTER
                               &none    &mo _L_NUM &lt _L_NAV SPACE     &kp RSHFT &mo _L_SYM &none
>;
};


colemak_layer {
    label = "COLEMAK";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  B  |  #  |  J  |  L  |  U  |  Y  |  '  | BKSP |
// | CTRL |  A  |  R  |  S  |  T  |  G  |  #  |  M  |  N  |  E  |  I  |  O  | SHFT |
// | SHFT |  Z  |  X  |  C  |  D  |  V  |  #  |  K  |  H  |  ,  |  .  |  /  | ESC  |
//                    |     |     | nav_spc |  #  |     |     |     |
bindings = <
   &kp TAB        &kp DE_Q &kp DE_W &kp DE_F &kp DE_P &kp DE_B               &kp DE_J &kp DE_L  &kp DE_U  &kp DE_Y   &quote    &kp BSPC
   &lt _L_SYM ESC &kp DE_A &kp DE_R &kp DE_S &kp DE_T &kp DE_G               &kp DE_M &kp DE_N  &kp DE_E  &kp DE_I   &kp DE_O  &none
   &kp LSHFT      &kp DE_Z &kp DE_X &kp DE_C &kp DE_D &kp DE_V               &kp DE_K &kp DE_H  &clabk    &drabk     &sques    &kp ENTER
                               &none    &mo _L_NUM &lt _L_NAV SPACE     &kp RSHFT &mo _L_SYM &none
>;
};


navigation_layer {
    label = "navigation";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  B  |  #  |  J  |  L  |  U  |  Y  |  '  | BKSP |
// | CTRL |  A  |  R  |  S  |  T  |  G  |  #  |  M  |  N  |  E  |  I  |  O  | SHFT |
// | SHFT |  Z  |  X  |  C  |  D  |  V  |  #  |  K  |  H  |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |  #  | ENT | RSE | ALT |
bindings = <
   &none &none      &none     &kp CS_TAB &kp C_TAB   &none          &kp HOME &kp PGDN &kp PGUP &kp END   &none     &none
   &none &sk LGUI   &sk LALT  &sk LCTRL  &sk LSHFT   &none          &kp LEFT &kp DOWN &kp UP   &kp RIGHT &none     &none
   &none &kp K_UNDO &kp K_CUT &kp K_COPY &kp K_PASTE &kp K_REDO     &none    &none    &none    &none     &kp RCTRL &none
                              &none      &none       &none          &kp RSHFT &none   &none
>;
};

numbers_layer {
    label = "Numbers";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  B  |  #  |  J  |  L  |  U  |  Y  |  '  | BKSP |
// | CTRL |  A  |  R  |  S  |  T  |  G  |  #  |  M  |  N  |  E  |  I  |  O  | SHFT |
// | SHFT |  Z  |  X  |  C  |  D  |  V  |  #  |  K  |  H  |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |  #  | ENT | RSE | ALT |
bindings = <
   &none    &none       &none       &none       &none       &kp DE_PERC     &kp DE_PLUS &kp N7 &kp N8 &kp N9 &kp DE_MINS &none
   &none    &sk LGUI    &sk LALT    &sk LCTRL   &sk LSHFT   &kp DE_EQL      &kp DE_DOT  &kp N4 &kp N5 &kp N6 &kp DE_COLN &none
   &none    &none       &none       &none       &none       &none           &kp DE_STAR &kp N1 &kp N2 &kp N3 &kp DE_FSLH &none
                                    &none       &none       &kp SPACE       &kp N0      &mo _L_FUN &none
>;
};

symbols_layer {
    label = "Symbols";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  B  |  #  |  J  |  L  |  U  |  Y  |  '  | BKSP |
// | CTRL |  A  |  R  |  S  |  T  |  G  |  #  |  M  |  N  |  E  |  I  |  O  | SHFT |
// | SHFT |  Z  |  X  |  C  |  D  |  V  |  #  |  K  |  H  |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |  #  | ENT | RSE | ALT |
bindings = <
   &none   &kp DE_EXCL &kp DE_AT   &kp DE_HASH &kp DE_DLR  &kp DE_PERC      &kp DE_CIRC &kp DE_AMPS &kp DE_STAR &kp DE_UNDS &kp DE_MINS &none
   &none   &kp DE_PIPE &kp DE_SEMI &kp DE_EQL  &kp DE_COLN &kp DE_TILD      &none       &kp DE_ADIA &kp DE_ODIA &kp DE_UDIA   &kp DE_SS   &none
   &none   &none       &none       &none       &none       &kp DE_GRV       &none       &none       &kp DE_CIRC &kp DE_PLUS &kp DE_BSLH &none
                                   &none       &mo _L_FUN  &kp SPACE        &kp RSHFT   &none       &none
>;
};

function_layer {
    label = "function";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  B  |  #  |  J  |  L  |  U  |  Y  |  '  | BKSP |
// | CTRL |  A  |  R  |  S  |  T  |  G  |  #  |  M  |  N  |  E  |  I  |  O  | SHFT |
// | SHFT |  Z  |  X  |  C  |  D  |  V  |  #  |  K  |  H  |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |  #  | ENT | RSE | ALT |
bindings = <
   &none   &none      &kp C_VOL_DN &kp C_MUTE &kp C_VOL_UP &none        &kp F12  &kp F7   &kp F8  &kp F9  &none   &mo _L_SET
   &none   &sk LGUI   &sk LALT     &sk LCTRL  &sk LSHFT    &none        &kp F11  &kp F6   &kp F5  &kp F6  &none   &none
   &none   &kp K_UNDO &kp K_CUT    &kp K_COPY &kp K_PASTE  &kp K_REDO   &kp F10  &kp F1   &kp F2  &kp F3  &none   &none
                                   &none      &none        &kp SPACE    &kp RSHFT &none  &none
    >;
};

settings_layer {
    label = "settings";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
bindings = <
   &tog 1     &none        &none        &none        &none        &none           &none    &none    &none   &none   &none   &none
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4    &none    &none    &none   &none   &none   &none
   &none      &none        &none        &none        &none        &none           &none    &none    &none   &none   &none   &none
                                        &none        &none        &none           &none    &none    &none
>;
};

/*
template_layer {
    label = "TEMPLATE";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  B  |  #  |  J  |  L  |  U  |  Y  |  '  | BKSP |
// | CTRL |  A  |  R  |  S  |  T  |  G  |  #  |  M  |  N  |  E  |  I  |  O  | SHFT |
// | SHFT |  Z  |  X  |  C  |  D  |  V  |  #  |  K  |  H  |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |  #  | ENT | RSE | ALT |
                        bindings = <
   &none   &none   &none   &none    &none    &none              &none    &none    &none   &none   &none   &none
   &none   &none   &none   &none    &none    &none              &none    &none    &none   &none   &none   &none
   &none   &none   &none   &none    &none    &none              &none    &none    &none   &none   &none   &none
                           &none    &none    &none              &none    &none    &none
>;
};
*/
};
};