#include "keymap_german.h"
#include "mod_morphs.dtsi"

#define _L_QWE 0
#define _L_COL 1

#define _L_NAV 2
#define _L_SYM 3
#define _L_NUM 4
#define _L_SET 5
#define _L_FUN 6

#define C_TAB LC(TAB)
#define CS_TAB LC(LS(TAB))

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
  };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                qwerty_layer {
                        label = "QWERTY";
// -----------------------------------------------------------------------------------------
// | ESC  |  Q  |  W  |  E  |  R  |  T  |      #  |  Y  |  U  |  I  |  O  |  P  | BKSP |
// | SHFT |  A  |  S  |  D  |  F  |  G  |      #  |  H  |  J  |  K  |  L  |  ;  |  '   |
// | TAB  |  Z  |  X  |  C  |  V  |  B  |      #  |  N  |  M  |  ,  |  .  |  /  | RET  |
//                    |     |     | nav_spc |  #  |     |     |     |
                        bindings = <                                                                                            
   &kp ESC   &kp DE_Q &kp DE_W &kp DE_E &kp DE_R &kp DE_T       &kp DE_Y &kp DE_U  &kp DE_I  &kp DE_O   &kp DE_P    &kp BSPC
   &kp LSHFT &kp DE_A &kp DE_S &kp DE_D &kp DE_F &kp DE_G       &kp DE_H &kp DE_J  &kp DE_K  &kp DE_L   &semicol    &kp RSHFT
   &kp TAB   &kp DE_Z &kp DE_X &kp DE_C &kp DE_V &kp DE_B       &kp DE_N &kp DE_M  &clabk    &drabk     &sques      &kp ENTER
                               &none    &none &lt _L_NAV SPACE  &none    &none     &none
                        >;
                };


                colemak_layer {
                        label = "COLEMAK";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  B  |  #  |  J  |  L  |  U  |  Y  |  '  | BKSP |
// | CTRL |  A  |  R  |  S  |  T  |  G  |  #  |  M  |  N  |  E  |  I  |  O  | SHFT |
// | SHFT |  Z  |  X  |  C  |  D  |  V  |  #  |  K  |  H  |  ,  |  .  |  /  | ESC  |
//                    |     |     | nav_spc |  #  |     |     |     |
                        bindings = <
   &kp ESC   &kp DE_Q &kp DE_W &kp DE_F &kp DE_P &kp DE_B       &kp DE_J &kp DE_L  &kp DE_U  &kp DE_Y   &quote    &kp BSPC
   &kp LSHFT &kp DE_A &kp DE_R &kp DE_S &kp DE_T &kp DE_G       &kp DE_M &kp DE_N  &kp DE_E  &kp DE_I   &kp DE_O  &kp RSHFT
   &kp TAB   &kp DE_Z &kp DE_X &kp DE_C &kp DE_D &kp DE_V       &kp DE_K &kp DE_H  &clabk    &drabk     &sques    &kp ENTER
                               &none    &none &lt _L_NAV SPACE  &none    &none     &none
                        >;
                };


navigation_layer {
    label = "NAVIGATION";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  B  |  #  |  J  |  L  |  U  |  Y  |  '  | BKSP |
// | CTRL |  A  |  R  |  S  |  T  |  G  |  #  |  M  |  N  |  E  |  I  |  O  | SHFT |
// | SHFT |  Z  |  X  |  C  |  D  |  V  |  #  |  K  |  H  |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |  #  | ENT | RSE | ALT |
bindings = <
   &none &none      &none     &kp CS_TAB &kp C_TAB   &none          &kp HOME &kp PGDN &kp PGUP &kp END   &none     &none
   &none &sk LGUI   &sk LALT  &sk LCTRL  &sk LSHFT   &none          &kp LEFT &kp DOWN &kp UP   &kp RIGHT &none     &none
   &none &kp K_UNDO &kp K_CUT &kp K_COPY &kp K_PASTE &kp K_REDO     &none    &none    &none    &none     &kp RCTRL &none
                                   &none &none       &none          &none    &none    &none
>;
};


                lower_layer {
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &trans
                          	        &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
                        >;
                };

                template_layer {
                        label = "TEMPLATE";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  F  |  P  |  B  |  #  |  J  |  L  |  U  |  Y  |  '  | BKSP |
// | CTRL |  A  |  R  |  S  |  T  |  G  |  #  |  M  |  N  |  E  |  I  |  O  | SHFT |
// | SHFT |  Z  |  X  |  C  |  D  |  V  |  #  |  K  |  H  |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |  #  | ENT | RSE | ALT |
                        bindings = <
   &none   &none   &none   &none    &none    &none              &none    &none    &none   &none   &none   &none
   &none   &none   &none   &none    &none    &none              &none    &none    &none   &none   &none   &none
   &none   &none   &none   &none    &none    &none              &none    &none    &none   &none   &none   &none
                           &none    &none    &none              &none    &none    &none
                        >;
                };
        };
};