#include "keymap_german.h"
#include "mod_morphs.dtsi"

/ {
  chosen {
    zmk,matrix_transform = &default_transform;
    //zmk,matrix_trnsform = &five_column_transform;
  };
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "QWERTY";
// -----------------------------------------------------------------------------------------
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
//                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |
                        bindings = <
   &kp TAB   &kp DE_Q &kp DE_W &kp DE_E &kp DE_R &kp DE_T       &kp DE_Y &kp DE_U  &kp DE_I  &kp DE_O   &kp DE_P    &kp BSPC
   &kp LCTRL &kp DE_A &kp DE_S &kp DE_D &kp DE_F &kp DE_G       &kp DE_H &kp DE_J  &kp DE_K  &kp DE_L   &semicol    &quote
   &kp LSHFT &kp DE_Z &kp DE_X &kp DE_C &kp DE_V &kp DE_B       &kp DE_N &kp DE_M  &clabk    &drabk     &sques     &kp ESC
                                  &kp LGUI &mo 1 &kp SPACE      &kp RET &mo 2 &kp RALT
                        >;
                };
                lower_layer {
                        label = "NUMBER";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0 &kp BSPC
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &trans &trans
                          	        &kp LGUI     &trans       &kp SPACE      &kp RET  &trans   &kp RALT
                        >;
                };

                raise_layer {
                        label = "SYMBOL";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
// | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
//                    | GUI |     | SPC |   | ENT |     | ALT |
                        bindings = <
   &kp  TAB  &kp DE_EXCL &kp DE_AT &kp DE_HASH &kp DE_DLR &kp DE_PERC   &kp DE_CIRC  &kp DE_AMPS  &kp DE_STAR &kp DE_LPAR &kp DE_RPAR &kp BSPC
   &kp LCTRL &trans      &trans    &trans      &trans      &trans       &kp DE_MINS  &kp DE_EQL   &kp DE_LBKT &kp DE_RBKT &kp DE_BSLH &kp DE_GRV
   &kp LSHFT &trans      &trans    &trans      &trans      &trans       &kp DE_UNDS  &kp DE_PLUS  &kp DE_LBRC &kp DE_RBRC &kp DE_PIPE &kp DE_TILD
                    	     &kp LGUI &trans   &kp SPACE   &kp RET   &trans    &kp RALT
                        >;
                };
        };
};