/ {
  behaviors {
    clabk: comma_labk {
      compatible = "zmk,behavior-mod-morph";
      label = "COMMA_LEFT_ABK";
      #binding-cells = <0>;
      bindings = <&kp DE_COMM>, <&kp DE_LABK>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    drabk: dot_rabk {
      compatible = "zmk,behavior-mod-morph";
      label = "DOT_RIGHT_ABK";
      #binding-cells = <0>;
      bindings = <&kp DE_DOT>, <&kp DE_RABK>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    sques: slash_question {
      compatible = "zmk,behavior-mod-morph";
      label = "SLASH_QUESTION";
      #binding-cells = <0>;
      bindings = <&kp DE_FSLH>, <&kp DE_QUES>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    quote: shift_quotes {
      compatible = "zmk,behavior-mod-morph";
      label = "SHIFT_QUOTES";
      #binding-cells = <0>;
      bindings = <&kp DE_SQT>, <&kp DE_DQT>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    semicol: semi_colon {
      compatible = "zmk,behavior-mod-morph";
      label = "SEMI_COLON";
      #binding-cells = <0>;
      bindings = <&kp DE_SEMI>, <&kp DE_COLN>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
  };